.channel_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.channel_block a{
    text-decoration: none;
    align-items: stretch;
    display: flex;
}
.channel {
    width: 200px;
    padding: 12px 5px 10px 5px;
    font-family: "Roboto", sans-serif;
    background: #ffffff;
    border: 2px solid #2096d4;
    border-radius: 26px;
    margin-bottom: 30px;
}
.channel:hover{
    background-color: lightblue;
    cursor: pointer;
}
.channel_name {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
.channel_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.channel_img img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.channel_description {
    width: 165px;
    margin-left: 5px;
}
.channel_title {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #444444;
}
.channel_link {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #253bff;
    margin-right: 5px;
}
.channel_subscribers {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}